:root {
  --color-primary: #f3e1d2;
  --color-secondary: #11695f;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: var(--font-body);
  color: black;
  padding: 20px;
  line-height: 1.5;
  background-color: var(--color-primary);
}

/* Header */
header {
  background-color: var(--color-secondary);
  color: white;
  text-align: center;
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1, h2 {
  font-family: var(--font-heading);
  margin-bottom: 10px;
}

h1 {
  color: white;
}

/* Sections */
section {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Wireframes */
.wireframe {
  margin-top: 10px;
}

.wireframe img {
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 10px;
  height: auto;
}

.mobile-wireframe {
  max-width: 250px;
}

.desktop-wireframe {
  max-width: 500px;
}

.logo-wireframe {
  max-width: 200px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 30px;
  font-family: var(--font-heading);
  font-size: 0.9em;
  color: white;
  background-color: var(--color-secondary);
  height: 60px;
}

@media (max-width: 600px) {
  .desktop-wireframe {
    max-width: 300px;
  }
}