/* larger screen styles */
@media (min-width: 600px) {
  nav ul {
    flex-direction: row;
    gap: 8rem;
  }

  #menu li {
    display: inline-block;
  }

  #toggleMenu {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  img:hover {
    transform: scale(1.05);
  }

}
