@media (max-width: 500px) {
  
  main {
    margin: 0 auto;
    padding: 10px;
  }

  h1 {
    font-size: 1.4rem;
    padding: 20px 0;
    text-align: center;
  }

  .grid {
    display: block;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
  }

  .grid section {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(83, 75, 75, 0.4);
  }

  .grid p {
    font-size: 16px;
  }


  .hero {
    position: static;
    z-index: auto;
    opacity: 1;
    width: 100%;
    margin-bottom: 20px;
  }

  .hero img {
    opacity: 1;
    height: auto;
    object-fit: cover;
    max-width: 100%;
  }





}