:root {
  --font-family: Arial, sans-serif;
  --background-color: #ad2525;
  --border-color: #e5dd71;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--border-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 20px;
  flex: 4;
}

header, h2 {
  background-color: var(--background-color);
  color: #fff;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 4rem;
  padding: 5px;
}

footer {
  background-color: var(--background-color);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
  flex: 1;
}


/* ----Data and Weather---- */

.grid section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 100px auto;
  width: 90%;
  max-width: 1000px;
}


.grid p {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

/* ----Hero Image---- */

hr {
  border: none;
  height: 10px;
  background-color: #108336;
  margin: 0;
}

picture img {
  width: 100%;
  height: auto;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

  /* ---- Disable all pseudo-elements safely ---- */
*::before,
*::after {
  content: none !important;
}